mdp-numpad {
  
  .backdrop{
      position: fixed;
      top: 0;
      width: 100%;
      height: 64%;
      opacity: 0;
      z-index: 9999;
  }
  .con{
      padding: 0;
      position: fixed;
      bottom: 0;
      background-color: #EEEEEE;
      width:100%;
      height: 36%;
      z-index: 9999;
    }
  .keyboard{
      border-radius: 5px;
      background-color: #FFFFFF;
      text-align: center;
      font-size: x-large;
      box-shadow: 2px 2px 2px 1px #DADADA ;
    }
  
    .num{
      height: 100%;
      align-items: center;
      display: -webkit-flex;
      justify-content: center;
    }
  
    .ensure{
      font-size: large;
    }
  
    .done{
      width: 100%;
      height: 100%;
      line-height: 40px;
      border-radius: 5px;
      text-align: center;
      font-size: larger;
      box-shadow: 2px 2px 2px 1px #DADADA ;
      margin: 0;
    }
  
     .keyboard:active {   
      -webkit-transform: scale(0.95);
      background-color: #F5F5F5;
    }
  
    .done:active{   
      -webkit-transform: scale(0.95);
      opacity: 0.9;
    }
  
    .num-pad-al {
      -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
      transform: translateY(100%);
      opacity: 0;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
  
    .md-show.num-pad-al {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  
    .md-hide.num-pad-al {
      -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
      transform: translateY(100%);
      opacity: 0;
    }
    
  }